

/*general*/

body{
	background-color: #8A360F;
}

#google-cal {
	max-width: 80%;
}

/*Collapsing header effect*/
header {
	height: 130px;
	background: rgba(138, 54, 15, 1);
	position: fixed;
	width: 100%;
	z-index: 10;


	color: white;
	border-bottom-style: solid;
	border-bottom-width: 15px;
	border-bottom-color: rgba(205, 102, 0, .3);
}

#banner {
	width: 100%;
	height: 300px;
	position: fixed;
	top: 130px;
	background-image: url("images/espressoAtCounter.jpg");
}

#content {
	width: 100%;
	position: relative;
	padding-top: 150px;
}

#bisonlogo {
	clear: none;
	max-width: 50%;
 }
#address {
	text-align: right;
	padding: 10px; 
	max-width: 50%; 
	margin: 0; 
	clear: none;
	overflow: auto;
}



/*fonts*/
html{
	font-family: "Fjalla One", "Noto Serif", "Josefin Sans", "EB Garamond";
	}

p, th, td {
	color: white;
}

nav {
	color:white;
	padding: 1%;
	font-weight: 400;
}

/*background image*/

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


/*Logo Work*/

#bisonlogo img:hover{
	background-color: black;
}



/*Media Queries*/

@media (max-width: 550px) {
	p, td, th {font-size: .7rem;}
	h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .3rem;
  font-weight: 300;
  color: #CD6600;
  }

  a {
  font-size: 1.2rem;
  color: #CD6600;
  text-decoration: none; }

h1 { font-size: 1.6rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 1.5rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.4rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.3rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.2rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.1rem; line-height: 1.6;  letter-spacing: 0; }


#hours {
	/*visibility: hidden;*/
	/*vertical-align: baseline; */
}

#content {
	/*line-height: 1.1rem;*/
}

#address{
	padding: 5% 0;
}
}