/*
Error: Invalid CSS after "#8A360F": expected expression (e.g. 1px, bold), was ";"
        on line 4 of layout.css

1: /*general*\/
2: 
3: body {
4:     background-color: #8A360F;
5: }
6: p,
7: td,
8: th,
9: .suppliers a {

Backtrace:
layout.css:4
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/scss/parser.rb:1162:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/script/lexer.rb:221:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/script/parser.rb:602:in `assert_done'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/script/parser.rb:63:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/script/parser.rb:183:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/script.rb:27:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:1120:in `parse_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:710:in `parse_property'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:681:in `parse_property_or_rule'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:647:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:525:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:544:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:543:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:543:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:534:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:527:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:527:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:544:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:543:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:543:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:396:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:407:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.14/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#8A360F\": expected expression (e.g. 1px, bold), was \";\"\A         on line 4 of layout.css\A \A 1: /*general*/\A 2: \A 3: body {\A 4:     background-color: #8A360F;\A 5: }\A 6: p,\A 7: td,\A 8: th,\A 9: .suppliers a {"; }
