

/*general*/

body{
	background-color: #8A360F;
}

p, td, th, .suppliers a {
	font-size: .6em;
	line-height: 1.75;}

h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: .3rem;
font-weight: 300;
color: #CD6600;
}

a {
color: #CD6600;
text-decoration: none; 
}

h1 { font-size: 1.6rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 1.5rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 1.4rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.1rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: .9rem; line-height: 1.6;  letter-spacing: 0; }

#google-cal {
	max-width: 80%;
	border-width:0; 
	max-width: 100%;
}

#email a {
	color: #fff;
}

/*Table*/

th,
td {
  padding: 0px 10px;
  }


/*Collapsing header effect*/
header {
	height: 130px;
	background: rgba(138, 54, 15, 1);
	position: fixed;
	width: 100%;
	z-index: 10;


	color: white;
	border-bottom-style: solid;
	border-bottom-width: 15px;
	border-bottom-color: rgba(205, 102, 0, .3);
	clear: none;
}

#banner {
	width: 100%;
	height: 300px;
	position: fixed;
	top: 130px;
	background-image: url("images/espressoAtCounter.jpg");
}

#content {
	width: 100%;
	position: relative;
	padding-top: 160px;
	background-color: rgba(138, 54, 15, .3);
}

/*________Header Right________*/

.headerRight {
	text-align: right;
	padding: 10px; 
	max-width: 50%; 
	margin: 0; 
	clear: none;
	line-height: 1.3;
}

.address {
      font-size: .9em;
      color: #CD6600;
      text-decoration: none; 
    }

.phoneNumber {
	display: block;
	padding-top: .9em;
}

#hoursSemi {
	padding-top: 10px;
	display: block;
	font-size: .5rem;
}

#hoursFull {
	display: none;
}

/*________End Header Right________*/



.story {
	clear: none;
	display: auto;
	padding: 2px;
}

.loretta img{
	border-radius: 15px;
	max-width: 100%;
	margin-top: 20px;
	display: none;
	clear: none;
}

.suppliers {
	margin-top: 20px;
}

.suppliers a {
	border-bottom: 1px white solid;
	color: #fff;
	font-size: 1.15em;
}

/*fonts*/
html{
	font-family: "Fjalla One", "Noto Serif", "Josefin Sans", "EB Garamond";
	}

p, th, td {
	color: white;
}

nav {
	color:white;
	padding: 1%;
	font-weight: 400;
}

/*background image*/

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


/*Logo Work*/

#bisonlogo {
	max-width: 50%;
	height: 110px; 
	padding: 5px; 
	margin: 0;
	clear: none;
 }

#bisonlogo img {
	max-height: 100%;
	padding: 10px;
}

 #bisonlogo img:hover{
	background-color: black;
}





