/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size-small: .8rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;
$color-light: #CD6600;
$color-dark: #8A360F;
$tablet: "min-width: 400px";