/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#bisonlogo {
  max-width: 50%;
  height: 110px; 
  padding: 5px; 
  margin: 0;
  clear: none;
 }

#bisonlogo img {
  max-height: 100%;
  padding: 10px;
}

 #bisonlogo img:hover{
  background-color: black;
}


/* Column Right Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.address {
      font-size: 1.2em;
}

.phoneNumber {
  display: block;
  padding-top: 1.2em;
}

#hoursSemi {
  display: none;
}

#hoursFull {
  padding-top: 10px;
  display: block;
  font-size: 1rem;
}

/*________Header Right________*/

.headerRight {
  text-align: right;
  padding: 10px; 
  max-width: 50%; 
  margin: 0; 
  clear: none;
  line-height: 1.3;
}

.address {
  font-size: .9em;
  color: #CD6600;
  text-decoration: none; 
}

.phoneNumber {
  display: block;
  padding-top: .9em;
}

#hoursSemi {
  padding-top: 10px;
  display: block;
  font-size: .5rem;
}

#hoursFull {
  display: none;
}

/*________End Header Right________*/

