/*general*/

body {
  background-color: #8A360F;
}


p, td, th, .suppliers a {
  font-size: .6em;
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .3rem;
  font-weight: 300;
  color: #CD6600;
}

a {
  color: #CD6600;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: .9rem;
  line-height: 1.6;
  letter-spacing: 0;
}

#google-cal {
  max-width: 80%;
  border-width: 0;
  max-width: 100%;
}

#webcredit {
  text-align: center;
}

/*Table*/

th, td {
  padding: 0px 10px;
}

th:first-child {
  min-width: 50px;
}

/*Collapsing header effect*/

header {
  height: 130px;
  background: rgba(138, 54, 15, 1);
  position: fixed;
  width: 100%;
  z-index: 10;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-bottom-color: rgba(205, 102, 0, 0.3);
  clear: none;
}

#banner {
  width: 100%;
  height: 300px;
  position: fixed;
  top: 130px;
}

#content {
  width: 100%;
  position: relative;
  padding-top: 160px;
  background-color: rgba(138, 54, 15, 0.4);
}

/*________Header Right________*/

.headerRight {
  text-align: right;
  padding: 10px;
  max-width: 50%;
  margin: 0;
  clear: none;
  line-height: 1.3;
}

.address {
  font-size: .9em;
  color: #CD6600;
  text-decoration: none;
}

.phoneNumber {
  display: block;
  padding-top: .9em;
}

#hoursSemi {
  padding-top: 10px;
  display: block;
  font-size: .5rem;
}

#hoursFull {
  display: none;
}

/*________End Header Right________*/

.story {
  clear: none;
  display: auto;
  padding: 2px;
}

.loretta img {
  border-radius: 15px;
  max-width: 100%;
  margin-top: 20px;
  display: none;
  clear: none;
}

.suppliers {
  margin-top: 20px;
  a {
    border-bottom: 1px white solid;
    color: #fff;
    font-size: 1.15em;
  }
}

/*fonts*/

html {
  font-family: "Fjalla One", "Noto Serif", "Josefin Sans", "EB Garamond";
}

p, th, td {
  color: white;
}

nav {
  color: white;
  padding: 1%;
  font-weight: 400;
}

/*background image*/

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

/*Logo Work*/

#bisonlogo {
  max-width: 50%;
  height: 110px;
  padding: 5px;
  margin: 0;
  clear: none;
  img {
    max-height: 100%;
    padding: 10px;
    &:hover {
      background-color: black;
    }
  }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button, button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.button:hover, button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

input {
  &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
    color: #333;
    border-color: #888;
    outline: 0;
  }
}

.button:focus, button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

input {
  &[type="submit"]:focus, &[type="reset"]:focus, &[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
  }
}

.button.button-primary, button.button-primary {
  color: #FFF;
  background-color: #CD6600;
  border-color: #CD6600;
}

input {
  &[type="submit"].button-primary, &[type="reset"].button-primary, &[type="button"].button-primary {
    color: #FFF;
    background-color: #CD6600;
    border-color: #CD6600;
  }
}

.button.button-primary:hover, button.button-primary:hover {
  color: #FFF;
  background-color: #8A360F;
  border-color: #8A360F;
}

input {
  &[type="submit"].button-primary:hover, &[type="reset"].button-primary:hover, &[type="button"].button-primary:hover {
    color: #FFF;
    background-color: #8A360F;
    border-color: #8A360F;
  }
}

.button.button-primary:focus, button.button-primary:focus {
  color: #FFF;
  background-color: #8A360F;
  border-color: #8A360F;
}

input {
  &[type="submit"].button-primary:focus, &[type="reset"].button-primary:focus, &[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #8A360F;
    border-color: #8A360F;
  }
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}